<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header>
    <h1 th:text="${title}">Bookstore</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
    </ul>
</header>

<div th:if="${userExistsError}">
    <p class="error" th:text="${userExistsError}"></p>
</div>

<form method="post">
    <div class="form-group">
        <label>Username
            <input th:field="${user.username}" class="form-control">
        </label>
        <p class="error" th:errors="${user.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input th:field="${user.password}" class="form-control">
        </label>
        <p class="error" th:errors="${user.password}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="SingUp" class="btn btn-success">
    </div>
</form>

</body>
</html>