<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav>
    <h1 th:text="${title}">Bookstore</h1>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/home">LogOut</a></li>
        <li class="nav-item"><a class="nav-link" href="/home/customer">All Books</a></li>
        <li class="nav-item"><a class="nav-link" href="/home/customer/buybook">Buy Books</a></li>
    </ul>
</nav>

<form method="post">
    <th:block th:each="book : ${books}">
        <div class="form-group">
            <label>
                <span th:text="${book.title}"></span>
                <input type="checkbox" name="bookIds" th:value="${book.id}" class="form-control">
            </label>
        </div>
    </th:block>
    <input type="submit" value="Buy" class="btn btn-danger">
</form>

</body>
</html>